@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    background: linear-gradient(#e66465, #9198e5);
    font-family: "Titillium Web";
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 3em;
    margin: 0;
    color:rgb(27, 21, 66);
}

canvas {
    border: 10px double rgb(22, 6, 43);
    margin: 1em auto;
    background-color: rgb(233, 227, 227);
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

button {
    font-size: 18px;
    border: none;
    height: 50px;
    width: 120px;
    background-color: rgb(22, 6, 43);
    color: beige;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(22, 6, 43, 0.776);
}

label {
    display: inline;
    font-size: 18px;
}

select {
    font-size: 18px;
    background-color: rgb(22, 6, 43);
    color: beige;
    height: 50px;
}
